@use '@variables' as variables;

.container {
  display: flex;
  align-items: center;
}

.continueButton {
  margin-right: 20px;
}

.button {
  margin-top: 20px;
}

div.modal {
  align-items: flex-start;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    flex-direction: column;
  }

  .button {
    width: 100%;
    margin-top: 0;
  }
  .continueButton {
    margin: 20px 0 10px;
  }

  div.modal {
    align-items: center;
  }
}
