@use '@mixins' as mixins;
@use '@variables' as variables;

$primaryColor: variables.$darkGreen;

.button {
  @include mixins.fontPrimary;
  background-color: $primaryColor;
  color: white;
  border: none;
  padding: 10px 20px;
  // font-family: 'Neue Haas Regular';
  font-size: 16px;
  border-radius: variables.$borderRadius;
  min-width: 100px;
  cursor: pointer;
  transition: 0.1s;
  border: 2px solid $primaryColor;
  text-align: center;
  .spinnerIcon {
    animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  &:hover {
    color: $primaryColor;
    background-color: white;
    transition: 0.1s;
  }
  &.light {
    background-color: white;
    color: $primaryColor;
    padding: 10px 0;
    min-width: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
