@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  margin-bottom: 50px;
  overflow-y: scroll;
}

.title {
  margin-bottom: 5px;
}

.verifiedUserContainer {
  display: flex;
  align-items: center;
}

.number {
  width: 30px;
  display: inline-block;
}

.verifiedUser {
  @include mixins.fontPrimaryLight;
  min-width: 200px;
  padding: 2px 6px 2px 0px;
}

.nonActiveUser {
  background-color: variables.$darkGreen;
  color: white;
  animation: highlight 1s linear forwards;
  border-radius: variables.$borderRadius;
}

.remove {
  margin-left: 10px;
  background: none;
  border: none;
  position: relative;
  color: black;
}

@keyframes highlight {
  100% {
    background: none;
    color: variables.$charcoal;
  }
}

div.loader {
  top: -9px;
  left: -30px;
  transform: translateX(0);
}
