@use '@mixins' as mixins;

.container {
  margin-top: 50px;
  width: 100%;
  max-width: 700px;
}

.title {
  font-size: 20px;
  margin-bottom: 5px;
}

.text {
  @include mixins.fontPrimaryLight;
  margin-right: 50px;
}

.input {
  margin-top: 10px;
}
