@use '@mixins' as mixins;
@use '@variables' as variables;

.submit {
  margin-top: 20px;
}

div.emailInput {
  margin-bottom: 20px;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .submit {
    width: 100%;
  }
}
