@use '@mixins' as mixins;

.title {
  margin-bottom: 5px;
}

.verifiedUserContainer {
  display: flex;
  align-items: center;
}

.number {
  width: 17px;
  display: inline-block;
}

.verifiedUser {
  @include mixins.fontPrimaryLight;
}

.remove {
  margin-left: 10px;
  background: none;
  border: none;
}
