@use '@mixins' as mixins;
@use '@variables' as variables;

.summaryContainer {
  width: 50%;
  padding-left: 50px;
  p {
    @include mixins.fontPrimary;
  }
}

p.name {
  font-size: 40px;
  @include mixins.fontPrimaryBold;
}

.description {
  margin: 30px 0;
  .unit {
    @include mixins.fontPrimaryBold;
  }
}

.additionalInformationTitle {
  margin-bottom: 5px;
}

ul.additionalInformationList {
  list-style: disc;
  margin-left: 15px;
}

.additionalInformationItem {
  @include mixins.fontPrimary;
}

@media screen and (max-width: variables.$mobile) {
  .summaryContainer {
    width: 100%;
    padding-left: 0;
  }

  p.name {
    font-size: 26px;
  }

  .additionalInformationTitle,
  .additionalInformationItem {
    font-size: 14px;
  }

  .description {
    margin: 10px 0;
  }
}
