@use '@mixins' as mixins;

.summaryContainer {
  width: 50%;
  padding-left: 50px;
  p {
    @include mixins.fontPrimary;
  }
}

p.name {
  font-size: 40px;
  @include mixins.fontPrimaryBold;
}

.description {
  margin: 30px 0;
  .unit {
    @include mixins.fontPrimaryBold;
  }
}

.additionalInformationTitle {
  margin-bottom: 5px;
}

ul.additionalInformationList {
  list-style: disc;
  margin-left: 15px;
}

.additionalInformationItem {
  @include mixins.fontPrimary;
}
