@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.title {
  font-size: 28px;
  @include mixins.fontSecondary;
  color: variables.$charcoal;
  margin-bottom: 20px;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    flex-direction: column;
    padding: 50px 20px;
  }
}
