@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.title {
  font-size: 28px;
  @include mixins.fontSecondary;
  color: variables.$darkGreen;
  margin-bottom: 20px;
}
