@use '@variables' as variables;

.container {
  width: 80vw;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
}

.summaryContainer {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.name {
  font-size: 24px;
}
