@use '@variables' as variables;

.container {
  position: relative;
}

.image {
  width: 400px;
  height: auto;
  display: block;
  padding: 50px 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: variables.$mobile) {
  .image {
    width: 350px;
    padding-top: 100px;
  }
}
