@use '@variables' as variables;

.container {
  position: relative;
}

.image {
  width: 400px;
  height: auto;
  display: block;
  padding: 50px 0 20px;
  margin: 0 auto;
}

.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.logoutButton {
  margin-left: 20px;
}

@media screen and (max-width: variables.$mobile) {
  .image {
    width: 350px;
  }
}
