@use '@variables' as variables;
@use '@mixins' as mixins;

.cabinContainer {
  padding: 0 40px;
  margin-bottom: 40px;
  p {
    @include mixins.fontPrimaryLight;
  }
}

.topRow {
  display: flex;
}

.buttons {
  display: flex;
}

.nameContainer {
  width: 230px;
  .name {
    @include mixins.fontPrimaryBold;
  }
}

.button {
  padding: 6px;
  @include mixins.fontPrimaryLight;
  &.full {
    background-color: rgb(220, 29, 29);
    color: white;
    min-width: 100px;
    text-align: center;
  }
}
