@use '@variables' as variables;
@use '@mixins' as mixins;

.cabinContainer {
  padding: 0 40px;
  margin-bottom: 40px;
  p {
    @include mixins.fontPrimaryLight;
  }
}

.topRow {
  display: flex;
}

.buttons {
  display: flex;
}

.nameContainer {
  width: 230px;
  .name {
    @include mixins.fontPrimaryBold;
  }
}

.button {
  padding: 6px;
  border-radius: 3px;
  width: 80px;
  text-align: center;
  font-size: 14px;
  border: none;
  background-color: variables.$charcoal;
  color: white;
  @include mixins.fontPrimaryLight;
  &:hover {
    background-color: variables.$beige;
    color: variables.$charcoal;
  }
  &.full {
    background-color: rgb(220, 29, 29);
    color: variables.$beige;
  }
}
