@use '@variables' as variables;
@use '@mixins' as mixins;

.outerContainer {
  padding-bottom: 20px;
  border-bottom: 1px solid variables.$charcoal;
}

.headerContainer {
  width: 600px;
  display: block;
  margin: 0 auto;
}

.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: variables.$mobile) {
  .outerContainer {
    padding: 30px 0 0 0;
  }
  .headerContainer {
    width: 100%;
    padding: 0 30px;
  }
}
