@use '@mixins' as mixins;
@use '@variables' as variables;

.summaryContainer {
  margin: 0px 0 40px;
  border-bottom: 1px solid variables.$charcoal;
  padding-bottom: 30px;
}

.left {
  display: inline-block;
  width: 60px;
}
.right {
  @include mixins.fontPrimaryLight;
  text-transform: capitalize;
}

.additionalInformationContainer {
  margin: 15px 0;
}

ul.additionalInformationList {
  list-style: disc;
  li {
    margin-left: 17px;
    @include mixins.fontPrimaryLight;
    font-size: 15px;
  }
}
