@use '@variables' as variables;

.text {
  margin-bottom: 20px;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.map {
  width: 700px;
  height: auto;
  &:hover {
    cursor: zoom-in;
  }
  &.isZoom {
    width: 1100px;
    &:hover {
      cursor: zoom-out;
    }
  }
}

div.takeover {
  padding: 0;
}

@media screen and (max-width: variables.$tablet) {
  .map {
    width: 100%;
  }
}
