@use '@variables' as variables;

.outerContainer {
  border-bottom: 1px solid variables.$charcoal;
}
.innerContainer {
  padding: 43px 0 50px;
  width: 1000px;
  margin: 0 auto;
}

.unitName {
  font-size: 26px;
}

.unitContainer {
  display: flex;
  position: relative;
}

.unitImage {
  height: auto;
  object-fit: contain;
}

.cabinListOuterContainer {
  position: relative;
}

.cabinListInnerContainer {
  height: 500px;
  overflow-y: scroll;
  padding-top: 30px;
  border-radius: 3px;
  scroll-behavior: smooth;
}

.scrollDownButton {
  background: none;
  border: none;
  color: variables.$darkGreen;
  margin-top: 30px;
  margin-left: 80px;
}
