@use '@variables' as variables;

.outerContainer {
  border-bottom: 1px solid variables.$charcoal;
}
.innerContainer {
  padding: 43px 0 50px;
  width: 1000px;
  margin: 0 auto;
}

.unitName {
  font-size: 26px;
}

.unitContainer {
  display: flex;
  position: relative;
}

.unitImage {
  height: auto;
  object-fit: contain;
  width: 80%;
}

@media screen and (max-width: variables.$tablet) {
  .innerContainer {
    width: 320px;
    padding: 50px 20px;
  }
  .unitImage {
    align-self: flex-start;
  }
  button.showMapButton {
    margin-left: 20px;
    padding: 4px 10px;
  }

  .unitTitleContainer {
    display: flex;
    align-items: center;
  }
  .takeoverUnitImage {
    width: 90%;
    height: auto;
  }
}
