@use '@variables' as variables;

.takeover {
  display: flex;
}

div.addGuests {
  margin: 0;
  height: 250px;
}

.bottomRow {
  width: 100%;
}

.button {
  margin-right: 20px !important;
}

@media screen and (max-width: variables.$mobile) {
  .takeover {
    flex-direction: column;
  }
  div.addGuests {
    height: auto;
    margin-bottom: 50px;
  }
}
