.bedSelectionContainer {
  display: flex;
}

.sidePanel {
  margin-top: 25px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  width: 250px;
  display: block;
  margin-bottom: 10px;
}
