@font-face {
  font-family: 'Inter Regular';
  src: url('../../asset/Inter/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter Bold';
  src: url('../../asset/Inter/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter Light';
  src: url('../../asset/Inter/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter Medium';
  src: url('../../asset/Inter/Inter-Medium.ttf');
}
