@font-face {
  font-family: 'Tan Aesop';
  src: url('../../asset/TAN-AESOP/TAN-AESOP.ttf');
}

@font-face {
  font-family: 'Neue Haas Light';
  src: url('../../asset/Neue Haas/NeueHaasUnicaPro-Light.ttf');
}

@font-face {
  font-family: 'Neue Haas Bold';
  src: url('../../asset/Neue Haas/NeueHaasUnicaPro-Bold.ttf');
}

@font-face {
  font-family: 'Neue Haas Regular';
  src: url('../../asset/Neue Haas/NeueHaasUnicaPro-Regular.ttf');
}

@font-face {
  font-family: 'Neue Haas Medium';
  src: url('../../asset/Neue Haas/NeueHaasUnicaPro-Medium.ttf');
}

@font-face {
  font-family: 'Neue Haas Bold';
  src: url('../../asset/Neue Haas/NeueHaasUnicaPro-Bold.ttf');
}

@font-face {
  font-family: 'Neue Haas Heavy';
  src: url('../../asset/Neue Haas/NeueHaasUnicaPro-Heavy.ttf');
}
