@use '@variables' as variables;

@mixin fontPrimary {
  font-family: 'Inter Regular', sans-serif;
  color: variables.$charcoal;
}

@mixin fontPrimaryLight {
  font-family: 'Inter Light', sans-serif;
}

@mixin fontPrimaryMedium {
  font-family: 'Inter Medium', sans-serif;
}

@mixin fontPrimaryBold {
  font-family: 'Inter Bold', sans-serif;
}

// @mixin fontPrimaryHeavy {
//   font-family: 'Neue Haas Heavy', 'Arial', sans-serif;
// }

// @mixin fontSecondary {
//   font-family: 'Tan Aesop';
//   color: variables.$charcoal;
// }
