@mixin fontPrimaryLight {
  font-family: 'Neue Haas Light', 'Arial', sans-serif;
}

@mixin fontPrimary {
  font-family: 'Neue Haas Regular', 'Arial', sans-serif;
}

@mixin fontPrimaryMedium {
  font-family: 'Neue Haas Medium', 'Arial', sans-serif;
}

@mixin fontPrimaryBold {
  font-family: 'Neue Haas Bold', 'Arial', sans-serif;
}

@mixin fontPrimaryHeavy {
  font-family: 'Neue Haas Heavy', 'Arial', sans-serif;
}
