@use '@variables' as variables;

.graphicContainer {
  background-color: variables.$darkGreen;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

  background-image: url('https://uploads-ssl.webflow.com/63cf0ce6fd80557a7132ca30/63cf3dfba658295203ff0e39_background%20illustration.svg');
  background-size: 100%;
  background-position: center;
}

.headingContainer {
  margin: 40px 0;
  color: white;
}

.formContainer {
  width: 50%;
}

.pill {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  padding: 15px 20px;
  width: 450px;
  margin-bottom: 15px;
  svg {
    color: white;
  }
  p {
    color: white;
    margin-left: 15px;
  }
}

.logo {
  width: 200px;
  height: auto;
}
