@use '@mixins' as mixins;
@use '@variables' as variables;

.filters {
  position: relative;
  z-index: 1;
  margin: 0 auto 30px;
  @media screen and (max-width: variables.$mobile) {
    flex-direction: column;
    margin-top: 0;
  }
}

.title {
  @include mixins.fontPrimaryBold;
}
