@use '@variables' as variables;

@mixin hover {
  // color: $spacePurple;
  font-weight: 500;
  transition: 0.1s;
  // background-color: $blue;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: white;
  border-left: 2px solid variables.$charcoal;
  box-shadow: 5px 0px 20px 2px variables.$charcoal;
  display: flex;
  align-items: center;
  z-index: 10;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  animation: slideLeft 0.3s linear;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
