@use '@mixins' as mixins;
@use '@variables' as variables;

.summaryContainer {
  margin: 50px 0;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.image {
  width: 50px;
  height: auto;
  position: relative;
  top: -14px;
  margin-left: 10px;
}

.title {
  font-size: 28px;
  @include mixins.fontSecondary;
  color: variables.$darkGreen;
  margin-bottom: 20px;
}

.left {
  display: inline-block;
  width: 60px;
}
.right {
  @include mixins.fontPrimary;
}

.images {
  margin: 20px 0;
}
