@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 6px 14px;
  border-radius: variables.$borderRadius;
  border: 1px solid variables.$grey;
}

.text {
  margin-right: 10px;
  text-transform: uppercase;
  @include mixins.fontPrimary;
  font-size: 12px;
  letter-spacing: 0.9px;
}
