@use '@mixins' as mixins;

.container {
  margin-top: 50px;
  width: 100%;
  max-width: 700px;
}

.title {
  font-size: 24px;
  margin-bottom: 5px;
}

.text {
  @include mixins.fontPrimaryLight;
}

.input {
  margin: 50px 0;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.backButton,
.continueButton {
  display: block;
}
