@use '@variables' as variables;

.cabinContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bedColumnsContainer {
  display: flex;
}

@media screen and (max-width: variables.$mobile) {
  .bedColumnsContainer {
    flex-direction: column;
  }
  .sideText {
    margin: 20px 0 10px 5px;
  }
  .cabinContainer {
    order: 2;
  }
}
