@use '@variables' as variables;
@use '@mixins' as mixins;

.takeover {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  @include mixins.fontPrimaryBold;
  color: variables.$darkGreen;
  top: 0;
  left: 0;
  z-index: 1000;
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
  }

  .modal {
    background-color: variables.$beige;
    box-shadow: 0px 0px 20px 1px variables.$charcoal;
    position: relative;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 40px 50px 40px;
    border-radius: 5px;
    margin: 0 25px;
    .lds-ring {
      position: relative;
      top: initial;
      left: initial;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      margin-top: 20px;
      height: 50px;
      width: 50px;
    }
  }

  .closeButton {
    background-color: variables.$beige;
    border: none;
    color: variables.$darkGreen;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10001;
    cursor: pointer;
  }
}
