@use '@mixins' as mixins;

.container {
  width: 100%;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 100px;
}

.animationContainer {
  overflow: hidden;
}
.slideUp {
  transform: translateY(50px);
  animation: slideUp 0.2s forwards;
  padding-bottom: 10px;
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
  }
}

.button {
  margin-top: 80px;
}
