@use '@variables' as variables;

.mainContainer {
  display: flex;
  width: 100%;
  margin: 100px auto 0;
  max-width: 1500px;
}

.column {
  width: 50%;
  position: relative;
  &:first-of-type {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1500px) {
  .mainContainer {
    padding: 0 50px;
  }
}

@media screen and (max-width: variables.$mobile) {
  .mainContainer {
    flex-direction: column;
    margin-top: 30px;
    padding: 0 20px;
  }
  .column {
    width: 100%;
    &:first-of-type {
      margin-right: 0;
      order: 2;
    }
  }
}
