@use '@mixins' as mixins;
@use '@variables' as variables;

.textContainer {
  font-size: 15px;
  margin: 30px auto 30px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.lineOne {
  margin-bottom: 10px;
  font-size: 16px;
}

.text {
  @include mixins.fontPrimaryLight;
  margin-bottom: 10px;
}

.anchor {
  text-decoration: underline;
  cursor: pointer;
  color: variables.$charcoal;
}

// Start of modal

.instructions {
  width: 600px;
}

.unitName {
  margin-bottom: 5px;
}

.description,
.clickHere {
  @include mixins.fontPrimaryLight;
  margin-bottom: 5px;
  font-size: 15px;
}

.clickHere {
  margin-bottom: 15px;
}

@media screen and (max-width: variables.$tablet) {
  .instructions {
    width: 100%;
  }
}
