@use '@variables' as variables;

.bottomRow {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  border-top: 3px solid variables.$primaryColor;
  width: 100%;
  padding: 30px 20px;
  z-index: 1000;
  background-color: white;
}

.nextButton {
  margin-left: auto;
  display: block;
}

.overlay {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
