@use '@variables' as variables;

.bottomRow {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.overlay {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  top: auto;
}

.viewBedSelectionButton {
  margin-left: 10px;
}

@media screen and (max-width: variables.$mobile) {
  .bottomRow,
  .leftContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .viewBedSelectionButton {
    margin: 10px 0;
  }
}
