@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  max-width: 700px;
}

.title {
  font-size: 32px;
  margin: 50px 0 20px;
  @include mixins.fontSecondary;
  color: variables.$darkGreen;
}

.text {
  @include mixins.fontPrimaryLight;
  margin-bottom: 10px;
  font-size: 18px;
}

.button {
  display: block;
  margin: 50px 20px 0 0;
  width: 230px;
  text-align: center;
}

@media screen and (max-width: variables.$mobile) {
  .button {
    width: 100%;
    &:last-child {
      margin-top: 10px;
    }
  }
}
