@use '@mixins' as mixins;

.bed {
  display: flex;
  align-items: center;
}

div.dropdown {
  width: 200px;
  margin-right: 40px;
}

.icon {
  color: green;
}
.reserved {
  color: red;
}
.selected {
  color: rgb(33, 33, 160);
}

.flip {
  div.dropdown {
    margin: 0 0 0 40px;
  }
  .icon {
    transform: scaleX(-1);
  }
  .reserved {
    text-align: left;
    padding: 0 0 0 10px;
  }
}

.placeholder {
  width: 240px;
}

.reservedText {
  padding-left: 10px;
}
.reservedTextFlipped {
  padding-left: 39px;
}
