@use '@variables' as variables;
@use '@mixins' as mixins;

.cabinContainer {
  padding-left: 40px;
  margin-bottom: 40px;
  p {
    @include mixins.fontPrimaryLight;
  }
  width: 300px;
}

.nameContainer {
  width: 230px;
  .name {
    @include mixins.fontPrimaryBold;
  }
}

.button {
  padding: 4px 0;
  min-width: 80px;
  @include mixins.fontPrimaryLight;
  margin-top: 10px;
  &.full {
    background-color: rgb(220, 29, 29);
    color: white;
    min-width: 80px;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
  }
}
