@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link,
.title {
  color: variables.$charcoal;
  padding-right: 30px;
}

.title {
  @include mixins.fontPrimaryBold;
  padding-right: 10px;
}

.link {
  @include mixins.fontPrimary;
  &:last-of-type {
    padding-right: 0;
  }
  &:hover {
    text-decoration: underline;
  }
}
