@use '@variables' as variables;

.carouselContainer {
  position: relative;
  height: 300px;
  width: 50%;
}

.image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.fadeIn {
  animation: fadeIn 0.3s linear;
}

.chevronLeft,
.chevronRight {
  position: absolute;
  top: 45%;
  background: none;
  border: none;
  z-index: 10;
}

.chevronLeft {
  left: 10px;
}

.chevronRight {
  right: 10px;
}

.dotContainer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  &:last-of-type {
    margin-right: 0;
  }
  &.active {
    &:before {
      content: '';
      background-color: variables.$charcoal;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      top: 2px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
