.sideMargins {
  padding-left: 100px;
  display: block;
  margin: 0 auto;
}

.logo {
  margin: 35px 0 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
