@use '@variables' as variables;

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  box-shadow: 5px 0px 15px 2px variables.$charcoal;
  z-index: 10;
  overflow: hidden;
  animation: slideLeft 0.3s linear;
  width: 400px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.continueButton {
  margin: auto 0 20px 0;
}
