.videoContainer {
  position: relative;
  height: 100%;
}

.videoContent {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  color: white;
  z-index: 20000;
}

.playButtonIcon {
  margin: 20px 0 0 16px;
  cursor: pointer;
}
