@use '@mixins' as mixins;
@use '@variables' as variables;

.title {
  font-size: 28px;
  @include mixins.fontSecondary;
  color: variables.$charcoal;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  margin-bottom: 10px;
}

.modifyContainer {
  margin-left: 100px;
}

@media screen and (max-width: variables.$mobile) {
  .modifyContainer {
    margin-left: 0;
  }
}
